.container-stage-form {
	display: flex;
	gap: 10px;
	margin: 20px;
}

.container-stage {
	margin: 20px;
}

* {
	box-sizing: border-box;
}

.container-stage-canvas {
	flex: 1 1;
	height: 800px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	-moz-box-orient: vertical;
	margin: auto;
	background-color: #efefef;
	border: 1px dashed #aaa;
	max-width: 100%;
}