body {
  margin: 0;
  font-family:  -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

:root {
  --surface1: #e9ecef;
	--color1: #FF9800;
}